<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>clipcopy</string>
    <key>ProgramArguments</key>
    <array>
        <string>clipcopy</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>~/Dropbox/clipboard/clip.txt</string>
    </array>
</dict>
</plist>
